.right-panel {
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-evenly;
    color: azure;
    /* text-align: center; */
    /* margin-left: 10px; */
  }
  .left-toggle {
    width: 5%;
    height: 5%;
    position: fixed;
    top: 0px;
    right: 10px;
    display: flex;
  }
  .about-text {
    margin-left: 5%;
    display: inline-block;
    color: aqua;
  }
  .home-text > span {
    font-size: xxx-large;
  }
  .home-text > .animate:hover {
    display: inline-block;
    /* margin: 0 0.5rem; */
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    color: aqua;
  }
  